@font-face {
    font-family: 'icon-slideres-version2';
    src:    url('fonts_menu/iconos-menu.eot?6u8jkt');
    src:    url('fonts_menu/iconos-menu.eot?6u8jkt#iefix') format('embedded-opentype'),
        url('fonts_menu/iconos-menu.ttf?6u8jkt') format('truetype'),
        url('fonts_menu/iconos-menu.woff?6u8jkt') format('woff'),
        url('fonts_menu/iconos-menu.svg?6u8jkt#iconos-menu') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon-slideres-version2' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
    content: "\f0a3";
    
}
.icon-three-bars:before {
    content: "\f05e";
}

